* {
    font-family: Georgia;
}

.index-heading {
    text-align: center;
    font-weight: bolder;
    background-color: black;
    color: antiquewhite;
}

.index-unordered-list {
    text-align: center;
    font-weight: bold;
    background-color: red;
}

h1.recipe-title {
    text-align: center;
    font-weight: bolder;
    background-color: black;
    color:antiquewhite;
}

img {
    height: auto;
    width: 500px;
}

.recipe-description {
    text-align: center;
    background-color: black;
    color: white;
}

.ingredients,
.steps {
    color: white;
    background-color: red;
}