* {
    font-family: Georgia;
}


.index-heading {
    text-align: center;
    font-weight: bolder;
    background-color: black;
    color: antiquewhite;
    padding: 50px;
}

.index-unordered-list {
    font-weight: bold;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

h1.recipe-title {
    text-align: center;
    font-weight: bolder;
    background-color: black;
    color:antiquewhite;
}

img {
    height: auto;
    width: 500px;
}

.recipe-description {
    text-align: center;
    background-color: black;
    color: white;
}

.ingredients,
.steps {
    color: white;
    background-color: red;
}